@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html {
    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        #2c2c2c 20%,
        #161616
    );
    color: white;
}

button {
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 40px;
    cursor: pointer;
}