.titleText {
    color: white;
    font-size: 4rem;
    font-weight: 600;
}
.smooth-scroll-button {
    margin-top: 50px;
    width: 300px;
    height: 50px;
    font-size: 2rem;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.335);
    cursor: pointer;
    outline: black;
    transition: .5s ease-in-out;
}
.fa-arrow-right {
    transition: 0.5s ease-in-out;
}
.smooth-scroll-button:hover {
    box-shadow: 0px 0px 10px 5px rgb(184, 255, 255);
    transform: scale(1.05);
    .fa-arrow-right {
        transform: rotate(90deg);
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbar-button {
    width: 200px;
    margin: 10px;
    background: none;
    border-bottom: 2px solid gray;
    border-radius: 0;
    transition: 0.7s ease;
    color: white;
}
.navbar-button:hover {
    background-color: rgba(0,0,0, 0.5);
}
.selected {
    border-bottom-color: red;
}

.component-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    border: 1px solid white;
}

.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(54, 54, 54);
    color: black;
}

.component-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0% {left: -100%;}
    100% {left: 0%;}
}

.slide-animation {
    animation-name: slide;
    animation-duration: 1s;
}